{% extends 'datacenter/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container container_fluid">
        <legend class="mb-4 border-bottom text-center">Login</legend>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <div class="border-top">
            Need an account? <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
{% endblock %}